/*Bootstrap!*/
@import 'bootstrap/bootstrap-RT';

@font-face {
	font-family: 'ralewayregular';
	src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
			 url('fonts/raleway-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body {
	margin: 0;
	font-family: 'ralewayregular';
	background: hsl(0, 0%, 92%);
	background: radial-gradient(hsl(0, 0%, 87%), hsl(0, 0%, 80%));
}

table {
	border-collapse: collapse;
	width: 100%;
	tr {
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
		border-top: solid 1px rgba(0, 0, 0, 0.2);
	}
	td {
		padding: 12px;
	}
}

.card {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.container {
	padding-bottom: 1rem;
}

/*Icon Library*/
@import 'components/icomoon/icomoon';

@import 'components/variables';
@import 'components/dummy';
@import 'components/utils';
@import 'components/nav';
@import 'components/footer';
@import 'components/btns';
@import 'components/links';
@import 'components/inputs';
@import 'components/selects';
@import 'components/modal';
@import 'components/pricing';
@import 'components/cart';
@import 'components/ripple';
@import 'components/switches';
@import 'components/loaders';
