/*Bootstrap!*/
@import 'bootstrap/bootstrap-RT';

@font-face {
	font-family: 'Raleway Light';
	src: url(fonts/Raleway-Light.ttf);
}

@font-face {
	font-family: 'Raleway';
	src: url(fonts/Raleway-Regular.ttf);
}

body {
	margin: 0;
	font-family: 'Raleway';
	background: #eee;
	background: radial-gradient(#ddd, #ccc);
}

table {
	border-collapse: collapse;
	width: 100%;
	tr {
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
		border-top: solid 1px rgba(0, 0, 0, 0.2);
	}
	td {
		padding: 12px;
	}
}

.card {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 4px 12px -2px rgba(0, 0, 0, 0.2);
}

/*Icon Library*/
@import 'components/icomoon/icomoon';

@import 'components/variables';
@import 'components/dummy';
@import 'components/utils';
@import 'components/nav';
@import 'components/footer';
@import 'components/btns';
@import 'components/links';
@import 'components/inputs';
@import 'components/selects';
@import 'components/modal';
@import 'components/pricing';
@import 'components/cart';
@import 'components/ripple';
@import 'components/switches';
