<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Creative Sass Library</title>
		<link rel="shortcut icon" href="/dist/imgs/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/dist/default.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/atom-one-dark.min.css">
	</head>
	<body>
		<div class="row">
			<div class="col main-bg text-center">
				<h1>Creative Sass Library</h1>
				<p>A simple to use sass library with animated components and useful layouts, Plays nice with bootstrap</p>
			</div>
		</div>
		<div class="container">
			<div class="row mt-5 mb-1">
				<div class="col-12 mb-3">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'home' }}active{{/equals}}" href="/home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'js' }}active{{/equals}}" href="/js">JavaScript</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'links' }}active{{/equals}}" href="/links">Links</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'inputs' }}active{{/equals}}" href="/inputs">Inputs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'switches' }}active{{/equals}}" href="/switches">Switches</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'selects' }}active{{/equals}}" href="/selects">Selects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'buttons' }}active{{/equals}}" href="/buttons">Buttons</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'modals' }}active{{/equals}}" href="/modals">Modals</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'ripple' }}active{{/equals}}" href="/ripple">Ripple</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'pricing' }}active{{/equals}}" href="/pricing">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-highlight {{#equals pageName 'cart' }}active{{/equals}}" href="/cart">Cart</a>
						</li>
					</ul>
				</div>
			</div>
			{{{body}}}
		</div>
		<script src="/dist/js/classie.js"></script>
		<script src="/dist/js/dropdownFx.js"></script>
		<script src="/dist/js/selectHandler.js"></script>
		<script src="/dist/js/inputHandler.js"></script>
		<script src="/dist/js/modalHandler.js"></script>
		<script src="/dist/js/cardSlider.js"></script>
		<script src="/dist/js/ripple.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>
