<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sass Library</title>
		<link rel="stylesheet" type="text/css" href="/dist/default.css">
		<link rel="stylesheet" type="text/css" href="/dist/prism.css">
	</head>
	<body>
		<div class="row">
			<div class="col main-bg text-center">
				<h1>Sass Component Library</h1>
				<p>A simple to use sass library with animated components and useful layouts, Plays nice with bootstrap</p>
			</div>
		</div>
		<div class="container">
			<div class="row mt-5 mb-1">
				<div class="col-12 mb-3">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link {{#equals pageName 'home' }}active{{/equals}}" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{#equals pageName 'js' }}active{{/equals}}" href="/js">JavaScript</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{#equals pageName 'inputs' }}active{{/equals}}" href="/inputs">Inputs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{#equals pageName 'selects' }}active{{/equals}}" href="/selects">Selects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{#equals pageName 'buttons' }}active{{/equals}}" href="/buttons">Buttons</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{#equals pageName 'modals' }}active{{/equals}}" href="/modals">Modals</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				{{{content}}}
			</div>
		</div>
		<script src="/dist/js/classie.js"></script>
		<script src="/dist/js/prism.js"></script>
	</body>
</html>
