.btn {
	border: 0.2rem solid $primary;
	font-family: inherit;
	font-size: inherit;
	color: $primary;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin: 0.65rem 0.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.btn-corners {
	overflow: hidden;
	z-index: 1;
	&:after {
		width: 100%;
		height: 0;
		top: 50%;
		left: 50%;
		background: $primary;
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
	&:hover {
		color: #FFF;
		&:after {
			height: 300%;
			opacity: 1;
		}
	}
	&:active {
		color: #FFF;
		&:after {
			height: 200%;
			opacity: 1;
		}
	}
}

.btn-dswipe {
	z-index: 1;
	&:after {
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		background: $primary;
	}
	&:hover, &:active {
		color: #FFF;
	}
	&:hover:after, &:active:after {
		height: 100%;
	}
}

.btn-rswipe {
	z-index: 1;
	&:after {
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		background: $primary;
	}
	&:hover {
		color: #FFF;
		&:after {
			width: 100%;
		}
	}
	&:active {
		color: #FFF;
		&:after {
			width: 100%;
		}
	}
}
