.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 39.38rem;
	min-width: 20rem;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
	h4 {
		width: 50%;
		margin: 1rem;
	}
}

.md-show {
	visibility: visible;
	~ .md-overlay {
		opacity: 1;
		visibility: visible;
	}
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: $overlay;
	transition: all 0.3s;
}

.md-content {
	color: $shade-900;
	background: #fff;
	position: relative;
	border-radius: 0.3rem;
	margin: 0 auto;
	button {
		display: inline-block;
		margin: 0 auto;
		font-size: 0.8rem;
	}
	> {
		h3 {
			color: #fff;
			margin: 0;
			padding: 0.4rem;
			text-align: center;
			font-size: 2.4rem;
			font-weight: 300;
			opacity: 0.8;
			background-color: $primary;
			border-radius: 0.3rem 0.3rem 0 0;
		}
		div {
			padding: 1rem 1.7rem 1.5rem;
			margin: 0;
			font-weight: 300;
			font-size: 1.15rem;
			p {
				margin: 0;
				padding: 1rem 0;
			}
			ul {
				margin: 0;
				padding: 0 0 1.5rem 1.2rem;
				li {
					padding: 0.5rem 0;
				}
			}
		}
	}
}

.md-fade-slide .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-fade-slide .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
