.switch {
	position: relative;
	display: inline-block;
	height: 2rem;
	input {
		display: none;
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 3.6rem;
	background-color: $slider-bg;
	-webkit-transition: .4s;
	transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 1.5rem;
		width: 1.5rem;
		left: 0.25rem;
		bottom: 0.25rem;
		background-color: $slider-circle;
		-webkit-transition: .4s;
		transition: .4s;
	}
}

input {
	&:checked + .slider {
		background-color: $primary;
	}
	&:focus + .slider {
		box-shadow: 0 0 0.1rem $primary;
	}
	&:checked + .slider:before {
		-webkit-transform: translateX(1.625rem);
		-ms-transform: translateX(1.625rem);
		transform: translateX(1.625rem);
	}
}

/* Rounded sliders */

.slider.round-slide {
	border-radius: 2rem;
	&:before {
		border-radius: 50%;
	}
}
