.img-circle {
	border-radius: 50%;
}

.card-deck {
	margin-top: 1rem;
}

.main-bg {
	background-color: $primary;
	color: #FFF;
}

.highlight {
	background-color: $shade-150;
	color: $syntax;
}

.card-dark {
	background-color: $shade-900;
	p {
		color: #FFF;
	}
}
