.img-circle {
	border-radius: 50%;
}

.hidden {
	display: none;
}

.highlight {
	border: 1px solid $shade-150;
	padding: 0.2rem;
	border-radius: 0.3rem;
	background-color: $shade-100;
	color: $syntax;
}

.round {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	padding: 0;
}
