$primary: hsl(197, 61%, 47%);

$primary-accent: hsl(213, 24%, 46%);
$secondary-accent: hsl(184, 77%, 48%);

$spring-green: hsl(147, 92%, 50%);
$spring-green-opac: hsla(147, 92%, 50%, 0.6);

$syntax: hsl(344, 61%, 62%);
$flash: hsl(5, 68%, 77%);

$shade-900: hsl(0, 0%, 29%);
$shade-200: hsl(0, 0%, 61%);
$shade-150: hsl(212, 14%, 76%);
$shade-100: hsl(0, 0%, 92%);

$overlay: hsla(0, 0%, 100%, 0.65);
