.cp-basic {
	.pricing__item {
		margin: 1rem;
		padding: 2rem 2.5rem;
		text-align: left;
		color: #262b38;
		background: $pricing-main-bg;
		border-top: 0.15rem solid $pricing-main-bg;
		-webkit-transition: border-color 0.3s;
		transition: border-color 0.3s;
		&:hover {
			border-color: $basic-main-btn;
		}
	}
	.pricing__title {
		font-size: $font-1;
		margin: 0 0 1rem;
	}
	.pricing__price {
		font-size: $font-6;
		font-weight: bold;
		padding: 0.5rem 0 0.75rem;
		border-top: 0.15rem solid $basic-seperators;
	}
	.pricing__currency {
		font-size: $font-05;
		vertical-align: super;
	}
	.pricing__sentence {
		font-weight: bold;
		padding: 0 0 0.5rem;
		color: $pricing-font;
		border-bottom: 0.15rem solid $basic-seperators;
	}
	.pricing__feature-list {
		font-size: $font-08;
		font-style: italic;
		margin: 0;
		padding: 0.25rem 0 2.5rem;
		list-style: none;
		text-align: right;
		color: $basic-feature-list;
	}
	.pricing__action {
		font-weight: bold;
		margin-top: auto;
		padding: 1rem 2rem;
		color: $basic-main-btn-font;
		border-radius: 1rem;
		background: $basic-main-btn;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
		&:hover, &:focus {
			background-color: $basic-main-btn-hover;
		}
	}
}
