.cp-highlight {
	.pricing__item {
		margin: 1rem;
		padding: 0 0 2rem;
		color: $highlight-price-font;
		background: $highlight-main-bg;
	}
	.pricing__title {
		font-family: 'Playfair Display', serif;
		font-size: $font-8;
		font-weight: 900;
		line-height: 1;
		width: 13rem;
		margin: 0 auto;
		padding: 1rem 1rem 0rem;
	}
}

.pricing__amp {
	padding: 0.15rem 0 0.1rem;
	color: #0f0e0f;
}

.cp-highlight {
	.pricing__sentence {
		margin-bottom: 2rem;
		color: $highlight-main-font;
	}
	.pricing__price {
		font-size: $font-6;
		font-weight: bold;
		position: relative;
		z-index: 10;
		overflow: hidden;
		padding: 0.75rem;
		cursor: default;
		color: $highlight-action;
		background: $highlight-main-bg;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
	}
	.pricing__item:hover .pricing__price {
		color: $highlight-price-bg-hover;
	}
	.pricing__price::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: $shade-150;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transform: translate3d(-150%, 0, 0) skewX(40deg);
		transform: translate3d(-150%, 0, 0) skewX(40deg);
	}
	.pricing__item:hover .pricing__price::before {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) skewX(0deg);
		transform: translate3d(0, 0, 0) skewX(0deg);
	}
	.pricing__period {
		font-size: $font-05;
		font-weight: normal;
		display: block;
		color: #2a272c;
	}
	.pricing__feature-list {
		margin: 0;
		padding: 2rem 1rem;
		list-style: none;
		text-align: center;
		color: $highlight-feature-list;
	}
	.pricing__action {
		font-weight: bold;
		margin: 0 2rem;
		padding: 1rem 2rem;
		border-radius: 0.2rem;
		background: $highlight-action;
		-webkit-transition: background-color 0.3s, color 0.3s;
		transition: background-color 0.3s, color 0.3s;
		&:hover, &:focus {
			color: $highlight-action;
			background: $highlight-price-bg-hover;
		}
	}
}
