.cp-simple {
	.pricing__item {
		font-family: 'Alegreya Sans', sans-serif;
		padding: 2rem 3rem;
		margin: 1rem;
		color: #262b38;
		background: $simple-main-bg;
		cursor: default;
		overflow: hidden;
		box-shadow: 0 0 1rem $simple-shadow;
	}
	.pricing__title {
		font-size: $font-6;
		margin: 0.5rem 0 0;
		color: $simple-title-color;
	}
	.icon {
		display: inline-block;
		min-width: 2rem;
		color: $simple-icon-color;
		vertical-align: middle;
	}
	.pricing__price {
		font-size: $font-10;
		font-weight: 800;
		color: $simple-font-color;
		position: relative;
		z-index: 100;
	}
	.pricing__currency {
		font-size: $font-8;
		vertical-align: super;
	}
	.pricing__period {
		font-size: $font-2;
		display: inline-block;
		padding: 0 0 0 0.5rem;
		color: $simple-pricing-period-font;
	}
	.pricing__sentence {
		font-weight: bold;
		margin: 0 0 1rem 0;
		padding: 0 0 0.5rem;
		color: $simple-font-color;
	}
	.pricing__feature-list {
		font-size: $font-1;
		margin: 0;
		padding: 1.5rem 0.5rem 2.5rem;
		list-style: none;
	}
	.pricing__feature {
		padding: 0.15rem 0;
	}
	.pricing__action {
		font-weight: bold;
		margin-top: auto;
		padding: 1rem 2rem;
		color: $simple-btn-font-color;
		border-radius: 0.3rem;
		background: $simple-font-color;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
		&:hover, &:focus {
			background-color: $simple-btn-bg-hover;
		}
	}
}

@media screen and (min-width: 66.25rem) {
	.cp-simple {
		.pricing__item {
			margin: 1.5rem 0;
		}
		.pricing__item--featured {
			z-index: 10;
			margin: 0;
			font-size: $font-2;
		}
	}
}
