.cp-transparent {
	.pricing__item {
		margin: 1.5rem 0;
		padding: 2rem;
		cursor: default;
		color: $shade-200;
		border: 0.1rem solid $transparent-main-bg;
		-webkit-transition: background-color 0.6s, color 0.3s;
		transition: background-color 0.6s, color 0.3s;
		.pricing__price {
			color: $transparent-pricing-font-color;
		}
		&:nth-child(2) {
			border-right: none;
			border-left: none;
		}
		&:hover {
			color: $shade-900;
			background: $transparent-main-bg;
		}
	}
	.pricing__title {
		font-size: $font-6;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.pricing__price {
		font-size: $font-4;
		font-weight: bold;
		line-height: 6rem;
		width: 6.25rem;
		height: 6.25rem;
		margin: 1.15rem auto 1rem;
		border-radius: 50%;
		-webkit-transition: color 0.3s, background 0.3s;
		transition: color 0.3s, background 0.3s;
	}
	.pricing__item {
		&:first-child .pricing__price {
			background: $transparent-circle-1;
		}
		&:nth-child(2) .pricing__price {
			background: $transparent-circle-2;
		}
		&:hover .pricing__price {
			color: $transparent-circle-3-font;
			background: $transparent-circle-3;
		}
	}
	.pricing__sentence {
		font-weight: bold;
	}
	.pricing__feature-list {
		margin: 0;
		padding: 1rem 1rem 2rem 1rem;
		list-style: none;
		text-align: center;
	}
	.pricing__action {
		font-weight: bold;
		margin-top: auto;
		padding: 0.75rem 2rem;
		opacity: 0;
		color: $shade-900;
		background: $transparent-action-btn;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transform: translate3d(0, -1rem, 0);
		transform: translate3d(0, -1rem, 0);
	}
	.pricing__item:hover .pricing__action {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.pricing__action {
		&:hover, &:focus {
			background: $transparent-action-btn-hover;
		}
	}
}

@media screen and (max-width: 60rem) {
	.cp-transparent .pricing__item {
		max-width: none;
		width: 90%;
		flex: none;
		&:nth-child(2) {
			border: 0.1rem solid $transparent-circle-3-font;
		}
	}
}
