.ci-split {
	max-width: 18rem;
	margin-bottom: 3rem;
	text-align: center;
	.input__field {
		font-size: 1.55rem;
		width: 100%;
		background: transparent;
		color: $input-font-color;
		opacity: 0;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	.input__label {
		position: absolute;
		left: 0;
		width: 100%;
		color: $input-light-offset;
		pointer-events: none;
		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			border: 0.2rem solid $input-main-border;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		}
		&::before {
			border-right: none;
		}
		&::after {
			left: 50%;
			border-left: none;
		}
	}
	.input__field:focus,
	&.input--filled .input__field {
		opacity: 1;
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}
	.input__field:focus + .input__label::before,
	&.input--filled .input__label::before {
		-webkit-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
	}
	.input__field:focus + .input__label::after,
	&.input--filled .input__label::after {
		-webkit-transform: translate3d(10%, 0, 0);
		transform: translate3d(10%, 0, 0);
	}
	.input__field:focus + .input__label .input__label-content,
	&.input--filled .input__label-content {
		-webkit-animation: anim-2 0.3s forwards;
		animation: anim-2 0.3s forwards;
	}
}

@-webkit-keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7rem, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7rem, 0) scale3d(0.3, 0.3, 1);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7rem, 0);
		transform: translate3d(0, 3.7rem, 0);
	}
}


@keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7rem, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7rem, 0) scale3d(0.3, 0.3, 1);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7rem, 0);
		transform: translate3d(0, 3.7rem, 0);
	}
}
