$icomoon-font-path: "fonts" !default;

$icon-home: "\e900";
$icon-price-tags: "\e936";
$icon-cart: "\e93a";
$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass2: "\e94a";
$icon-map: "\e94b";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-keyboard: "\e955";
$icon-database: "\e964";
$icon-bubble2: "\e96e";
$icon-bubbles3: "\e96f";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-key: "\e98d";
$icon-key2: "\e98e";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-meter: "\e9a6";
$icon-meter2: "\e9a7";
$icon-bin: "\e9ac";
$icon-truck: "\e9b0";
$icon-road: "\e9b1";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-bookmark: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-info: "\ea0c";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-google-plus: "\ea8b";
$icon-facebook2: "\ea91";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-search: "\e986";
$icon-thumbs-o-up: "\e901";
